name: Continous Deployment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
 id-token: write
 contents: read

jobs:
  deploy:
    name: Upload to Amazon S3
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Environment
      uses: ./.github/actions/setup
    - name: Configure AWS credentials from Test account
      uses: aws-actions/configure-aws-credentials@master
      with:
        role-to-assume: ${{secrets.IAM_ROLE}}
        aws-region: us-east-1
        role-session-name: samplerolesession
    - name: Copy files to the test website with the AWS CLI
      run: |
        aws --region us-east-1 s3 ls
    - name: Run Cf Template
      run: |
        aws cloudformation deploy --stack-name static-hosting-demo-stack --template-file cftemplate/bucket.yml
    - name: Build packages
      run: |
        yarn build
    - name: Upload to S3
      run: |
        aws s3 sync ./build s3://this-will-pass-for-sure-cicd --delete
    - name: Upload to S3
      run: |
        aws cloudfront create-invalidation --distribution-id E2B8UOKCE3FAEE --paths "/*"
        


    
